body {
    background-color: #2b2b2b;
    padding: 2% 4%;
    font-family: monospace;
}

::-webkit-scrollbar {
    display: none;
}

.invisible {
    display: none; !important;
}

#codeBox {
    font-size: 1rem;
    background: 0 0; !important;
    margin: 0;
    padding: 0;
}

textarea {
    font-size: 1rem;
    color: white;
    background: 0 0;
    height: 100vh;
    width: 100%;
    border: 0;
    outline: none;
    resize: none;
}

.buttons {
    background-color: #515658;
    border-top: 6px gray solid;
    bottom: 0;
    right: 0;
    display: inline-grid;
    position: fixed;
    -moz-user-select: none;
    -webkit-user-select: none;
}

i.material-icons {
    padding: 15%;
    font-size: 2rem;
    display: inline-block;
}

i.material-icons:hover {
    color: #2d2f30;
}

a {
    text-decoration: none;
    color: inherit;
}

.textBar {
    visibility: hidden;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 4px;
    padding: 1%;
    position: fixed;
    bottom: 5%;
}

.textBar.show {
    visibility: visible;
    animation: fadeIn 0.5s, fadeOut 0.5s 2.5s;
    -webkit-animation: fadeIn 0.5s, fadeOut 0.5s 2.5s;
}

@keyframes fadeIn {
    from {bottom: 0}
    to {bottom: 5%}
}

@-webkit-keyframes fadeIn {
    from {bottom: 0}
    to {bottom: 5%}
}

@keyframes fadeOut {
    from {bottom: 5%}
    to {bottom: 0}
}

@-webkit-keyframes fadeOut {
    from {bottom: 5%}
    to {bottom: 0}
}

