body {
    background-color: #2b2b2b;
    padding: 30px 60px;
}

::-webkit-scrollbar {
    display: none;
}

.invisible {
    display: none; !important;
}

#codeBox {
    font-size: 1rem;
    font-family: monospace;
    background: 0 0; !important;
    margin: 0;
    padding: 0;
}

textarea {
    font-size: 1rem;
    font-family: monospace;
    color: white;
    background: 0 0;
    height: 100vh;
    width: 100%;
    border: 0;
    outline: none;
    resize: none;
}

.buttons {
    background-color: #515658;
    border-top: 6px gray solid;
    width: 15%;
    height: 5vh;
    bottom: 0;
    right: 0;
    position: fixed;
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.buttons > i {
    padding: 3%;
    font-size: 2rem;
    display: inline-block;
}

.buttons > i:hover {
    color: #2d2f30;
}